.card-form{
    width: 320px;
    margin: auto;
    margin-top: 200px;
    background: red;
}

.form-input{
    background:white;
    padding: 10px;
    margin: auto;
     
}

.submit{
    margin-top: 5px;
    margin-left: 170px;
}